<p style="text-align: center;">Herzfrequenz</p>
<button routerLink="/home"> Go To Home </button>
<button (click)="logout()">Logout</button>
<button (click)="getAll()">alertStudents</button>
<button (click)="discoverDevice()">bluetoothDiscoverD</button>
<button (click)="observeHeartRate()">obHeartrate</button>
<button (click)="startheartrateMeasurement()">startHrM</button>
<button (click)="startNotification()">bluetoothStartNotification</button>
<button (click)="stopNotification()">bluetoothStopNotification</button>
<p>{{batteryLevel}}</p>

<ngx-charts-area-chart
[view]="view"
[scheme]="colorScheme"
[results]="multi"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[autoScale]="autoScale"
(select)="onSelect($event)">
</ngx-charts-area-chart>