<p>home works</p>
<button routerLink="/abnahme"> Go To abnahme </button>
<button (click)="logout()">Logout</button>
<button (click)="getAll()">alertStudents</button>
<button (click)="discoverDevice()">bluetoothDiscoverD</button>
<button (click)="observeHeartRate()">obHeartrate</button>
<button (click)="startheartrateMeasurement()">startHrM</button>
<button (click)="startNotification()">bluetoothStartNotification</button>
<button (click)="stopNotification()">bluetoothStopNotification</button>
<p>{{batteryLevel}}</p>